{% extends "default.html" %}
{% block title %}
  {{ article.title }} — {{ SITENAME }}
{% endblock %}

{% block content %}
  <div class="hentry" itemscope itemtype="http://schema.org/Article">
      <h1 class="entry-title" itemprop="name">{{ article.title }}</h1>
      {% if article.date %}
      <div class="entry-meta">
        <time class="updated" datetime="{{ article.date | strftime('%Y-%m-%d %H:%M:%S') }}" itemprop="datePublished" pubdate>
          {{ article.date | strftime(DEFAULT_DATE_FORMAT) }}
        </time>
        <span class="author vcard">
          <span class="fn" itemprop="author">{{ AUTHOR }}</span>
        </span>
      </div>
      {% endif %}
      <div class="entry-content" itemprop="articleBody">
        {{ article.content }}
      </div>
  </div>
  {% if article.tags %}
    <div class="entry-tags">
      {% for tag in article.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
      </div>
  {% endif %}
  {% include 'includes/disqus.html' %}
{% endblock %}
