{% extends "default.html" %}
{% block title %}
  {{ SITENAME }}
{% endblock %}

{% block content %}
<ul class="entry-list">
  {% for article in articles_page.object_list %}
    <li class="entry-item">
      <div class="entry-meta">
        <time class="updated">{{ article.date | strftime(DEFAULT_DATE_FORMAT) }}</time>
      </div>
      <div class="detail">
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        <div class="description">{{ article.content | striptags | truncate(100) }}</div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
